<footer>
  <div class="contents">
    <div class="left">
      <span class="name">RoR Tutorial</span>
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore qui ea architecto iusto corporis fuga excepturi unde? Aliquam, libero incidunt. Nesciunt placeat debitis reprehenderit? A quibusdam amet ducimus voluptates provident.</span>
    </div>
    <div class="right">
      <%= link_to  "Pricing", '#' %>
      <%= link_to  "Contact Us", '#' %>
      <%= link_to  "Careers", '#' %>
      <%= link_to  "Privacy Policy", '#' %>
      <%= link_to  "Blog", '#' %>
    </div>
  </div>
</footer>