<header>
  <nav>
    <div class="nav-logo">
      <%= link_to  "RoR Tutorial", "/" %>
    </div>
    <div class="nav-links">
      <%= link_to  "Home", root_path %>
      <%= link_to  "Help", pages_help_path %>
      <%= link_to  "Contact", '/pages/contact' %>
      <%= link_to  "Signup", '/users/new', class: "btn btn-primary" %>
    </div>
  </nav>
</header>